

/*** CREATE_POST ***/
.create {
    background-color: #ffffff;
    border: solid 1px #f3f4f5;
    padding: 20px 30px 30px;
    margin-top: 44px;
    font-size: 1.6rem;
}

.create__head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #e9ecee;
    align-items: center;
    display: flex;
}

.create__title {
    font-weight: 600;
}

.create__title img {
    width: 28px;
    margin-right: 15px;
}

.create__head > span {
    margin-left: auto;
    color: #8e9091;
}

.create__section {
    margin-bottom: 24px;
}

.create__label {
    display: block;
    margin-bottom: 6px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.create input.form-control {
    border: solid 1px #e9ecee;
    border-radius: 0;
    background-color: #f8f9fa;
    color: #8e9091;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 48px;
    padding: 8px 20px;
    font-size: 16px;
}

.create__label {
    display: block;
    margin-bottom: 6px;
}

.create select {
    display: block;
    width: 100%;
    border: solid 1px #e9ecee;
    background-color: #f8f9fa;
    color: #8e9091;
    height: 48px;
    padding: 8px 20px;
    font-size: 16px;
}

.create__textarea-head {
    position: relative;
    border: solid 1px #e9ecee;
    border-bottom: none;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    min-height: 80px;
    padding: 18px 20px;
}

.create__textarea-head span {
    position: relative;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-right: 30px;
}

.create__textarea-head i {
    font-size: 18px;
    color: #5c6166;
}

.create__textarea-separate {
    height: 18px;
    border-left: solid 1px #c6c9ca;
}

.create textarea.form-control {
    height: 190px;
    font-size: 16px;
    border: solid 1px #e9ecee;
    border-radius: 0;
    background-color: #f8f9fa;
    color: #8e9091;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.create__footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.create__footer .btn {
    width: 140px;
}

.btn {
    height: 38px;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 0;
    background-color: #e9ecee;
    justify-content: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.btn--type-02 {
    background-color: #f9bc64;
}

.create__btn-cansel {
    margin-right: 15px;
}

/*** END CREATE_POST ***/
