.sidebar {
    width: 100%;
    min-height: 50rem;
}

.sidebar ul {
    list-style: none;
    margin: 10px 10px;
    font-size: 1.6rem;
}

.sidebar ul li {
    padding: 5px;
    border-bottom: 1px solid black;
}

.sidebar ul li a {
    color: black;
}

.sidebar ul li i {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
}

.main-history {
    margin-top: 3rem;
    background-color: #faefef;
}

.history-post {
    padding: 10px 0;
    margin-top: 10px;
    border-bottom: 1px solid rgb(236, 156, 156);
}

.history-para {
    color: rgb(106, 118, 224);
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-right: 10px;
}

.history-h2 {
    margin-top: 15px;
}

.history-flex {
    display: flex;
}

.history-flex h4 {
    min-width: 120px;
}

.history-post span {
    font-size: 1.4rem;
}

.history-post-username span {
    color: rgb(35, 124, 94);
    font-size: 1.4rem;
}

.history-title a {
    color: blueviolet;
}

.history-more {
    border: none;
    padding: 5px 15px;
    background-color: rgb(203, 172, 231);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px 0;
}

.history-option {
    border: none;
    padding: 5px 15px;
    background-color: rgb(203, 172, 231);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
}