h1.page-title{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 20px 0px;
}

body{
    font-size: 14px;
    font-family: arial;
    line-height: 23px;
    background: #0e90dc;
}

#wp-form-login{
    width: 260px;
    background: #f7fcff;
    border-radius: 3px;
    padding: 30px 20px 20px 20px;
    margin: 150px auto;
    text-align: center;

}

#form-login #username, #form-login #password {
    display: block;
    padding: 6px 10px;
    width: 100%;
    margin-bottom: 15px;
    background: #eae0e0;
    border: none;
}

#form-login #btn-login {
    display: block;
    width: 100%;
    background: #0e90dc;
    color:#fff;
    padding: 10px 0px;
    margin: 15px 0px 10px;
    cursor: pointer;
}

#lost-pass{
    color: #5797d0;
    text-decoration: none;
    float: left
}

p.error{
    font-size: 13px;
    color: #e20d0d;
}

#reg-user{
    color: #5797d0;
    text-decoration: underline;
    float: right;
}