.topics {
    margin-top: 32px;
}

.topics__content{
    width: -webkit-fill-available;
}

.topics__heading {
    margin-bottom: 38px;
}

.topics__heading-title {
    font-size: 25px;
}

.topics__heading-info {
    margin-top: 5px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.topics__heading-info > *:not(:last-child) {
    margin-right: 50px;
}

.topics__heading-category {
    margin: 0;
    font-size: 1.4rem;
    margin-right: 10px;
    font-weight: 400;
}

.topics__heading-tags {
    margin: 0;
    font-size: 1.4rem;
    margin-right: 10px;
    font-weight: 400;
}

.topics__heading-info .category {
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    color: black;
}

.topics__heading-info > * {
    margin-top: 10px;
}

.tags {
    margin-bottom: -6px;
    flex-wrap: wrap;
    display: flex;
}

.tags a {
    height: 22px;
    padding: 0 8px;
    border-radius: 3px;
    margin-bottom: 6px;
    background-color: #394047;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
}

.topics__body {
    align-items: flex-start;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.topic {
    padding: 30px 30px;
    background-color: #ffffff;
    border: solid 1px #f3f4f5;
}

.topic__head {
    position: relative;
    padding-top: 2px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

.topic__avatar {
    margin-right: 30px;
}

.topic__avatar img {
    border: solid 1px #e9ecee;
    border-radius: 50%;
    max-width: 4.5rem;
    height: auto;
    image-rendering: auto;
}

.topic__caption {
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.topic__name a,
.topic__name a:visited,
.topic__name a:active,
.topic__name a:link {
    color: #394047;
    font-weight: 600;
    font-size: 16px;
}

.topic__date {
    margin-left: auto;
    font-size: 14px;
    color: #5f6163;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.topic__date i {
    margin-right: 10px;
    font-size: 16px;
}

.topic__content {
    padding-left: 75px;
}

.topic__text > p {
    margin: 0;
    color: #8e9091;
    line-height: 1.5;
    font-size: 1.6rem;
}

.topic__footer {
    margin-bottom: -10px;
    border-top: solid 1px #e9ecee;
    flex-wrap: wrap;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 30px;
    margin-top: 38px;
    font-size: 1.4rem;
    justify-content: space-between;
}

.topic__footer > * {
    margin-bottom: 10px;
}

.topic__footer-likes {
    flex-wrap: wrap;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.topic__footer-likes div:not(:last-child) {
    margin-right: 30px;
}

.topic__footer-likes i,
.topic__footer-report i {
    font-size: 1.8rem;
}

.topic__footer-report {
    display: flex;
}

.topic__footer-report div:not(:last-child) {
    margin-right: 30px;
}

.topic__footer-likes i,
.topic__footer-report i {
    margin-right: 5px;
}

.topic__footer-star i {
    color: rgb(131, 128, 128);
}

.topic:first-child {
    background-color: #faefef;
    margin-bottom: 5rem;
}

.topic:not(:first-child) {
    margin-bottom: 1.5rem;
    background-color: #edf5fa;
}

.topics__comment {
    margin-top: 2 rem;
}

.topics__comment textarea {
    width: 100%;
    min-height: 10rem;
    font-size: 1.6rem;
    padding: 14px 20px;
    height: 12rem;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: #f5e7f4;
    color: #8e9091;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.topics__comment {
    text-align: right;
}

.topics__comment button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0.5rem 4rem;
    font-weight: 500;
    margin-top: 5px;
    background-color: #f5e7f4;
    color: #5f6163;
}

.topics__comment button:hover {
    cursor: pointer;
}

.mark-btn {
    display: flex;
}

#mark-btn__input span {
    margin-right: 5px;
}

.mark-btn__input {
    visibility: hidden;
}

.mark-btn__input.toggle {
    visibility: inherit;
}

.topic__footer-report .mark-btn__txt {
    border: none;
    outline: none;
    background-color: transparent;
}

.mark-btn__txt:hover {
    cursor: pointer;
}

.mark-btn__input button {
    outline: none;
    border: 1px solid black;
    padding: 1px 3px;
    cursor: pointer;
    margin-right: 2rem;
}

.topic__report {
    margin-top: 3rem;
    background-color: #fff9f1;
    width: 100%;
    padding: 2px 1rem;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    display: none;
}

.topic__report.toggle {
    display: block;
}

.topic__report textarea {
    min-height: 5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    height: 7rem;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: rgb(245, 232, 215);
    color: #8e9091;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.report-form__title {
    font-weight: 500;
    font-size: 1.6rem;
}

.topics__report-form span {
    font-weight: 500;
    min-width: 8rem;
}

.report-form__select,
.report-form__other {
    margin: 1rem 0;
    display: flex;
}

.report-form__select select {
    flex: 1;
    padding: 5px 5px;
    outline: none;
    border: none;
    background-color: rgb(245, 232, 215);
}

.report-form__other textarea {
    flex: 1;
}

.topics__report-form {
    display: flex;
    flex-direction: column;
}

.topics__report-form button {
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0.5rem 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    background-color: rgb(245, 232, 215);
    color: #5f6163;
    cursor: pointer;
    width: 12rem;
}

.report-form__button {
    display: flex;
    align-self: flex-end;
}

.report-form__button button:first-child {
    margin-right: 1rem;
}

.report-btn {
    border: none !important;
    outline: none !important;
    background-color: transparent;
    cursor: pointer;
}
