.profile {
    margin-top: 3rem;
    background-color: #faefef;
}

.sidebar {
    width: 100%;
    background-color: #faefef;
    min-height: 50rem;
}

.sidebar ul {
    list-style: none;
    margin: 10px 10px;
    font-size: 1.6rem;
}

.sidebar ul li {
    padding: 5px;
    border-bottom: 1px solid black;
}

.sidebar ul li a {
    color: black;
}

.sidebar ul li i {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
}

.user-info__avatar {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.user-info__summary {
    padding-left: 5rem;
}

.user-info__username {
    font-size: 1.5rem;
    font-weight: 500;
}

.user-info__createAt,
.user-info__badges,
.user-info__numberPost,
.user-info__numberReply {
    font-size: 1.4rem;
}

.user-info__badges span {
    font-weight: 500;
    color: rgb(117, 126, 206);
}

.user-info h2 {
    margin-top: 3rem;
    display: block;
    width: 100%;
}

.user-info__detail {
    font-size: 1.4rem;
    padding: 0 1.5rem;
}

.user-info__sex {
    margin-top: 1.5rem;
}

.user-info .row:first-child {
    border: 1px solid black;
    padding: 2rem 0;
}
