.top-user__title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.top-user__title span {
    font-size: 1.4rem;
}

.top-user__content li {
    list-style: none;
}

.top-user__item {
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 10px 25px 0 #d7d4ce;
    border-radius: 0.5rem;
    min-height: 460px;
}

.top-user__item h3 {
    padding: 10px 0;
}

.top-user__item li {
    margin-top: 10px;
    font-size: 1.4rem;
    position: relative;
    height: 3rem;
    display: flex;
    align-items: center;
}

.top-user__item li span:first-child {
    min-width: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    font-weight: 500;
}

.top-user__item li span:last-child {
    position: absolute;
    right: 0;
}

.svg-icon.icon-medal-3 {
    width: 1.5rem;
    height: 3rem;
    background-image: url(../images/medal-3.svg);
}

.svg-icon.icon-medal-2 {
    width: 1.5rem;
    height: 3rem;
    background-image: url(../images/medal-2.svg);
}
.svg-icon.icon-medal-1 {
    width: 1.5rem;
    height: 3rem;
    background-image: url(../images/medal-1.svg);
}
.svg-icon {
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
}

.top-user__item .fw-500 {
    font-weight: 500;
}
