.edit-password-form {
    font-size: 1.5rem;
    margin-left: 100px;
}

.edit-password-form > div {
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-password-form p {
    margin-bottom: 5px;
}

.edit-password-form button {
    border: none;
    background-color: bisque;
    padding: 7px 30px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 0px 15px 10px 15px;
}

.sidebar {
    width: 100%;
    min-height: 50rem;
}

.sidebar ul {
    list-style: none;
    margin: 10px 10px;
    font-size: 1.6rem;
}

.sidebar ul li {
    padding: 5px;
    border-bottom: 1px solid black;
}

.sidebar ul li a {
    color: black;
}

.sidebar ul li i {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
}

.edit-password {
    margin-top: 3rem;
    background-color: #faefef;
}
