* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.avatar-wrapper {
    position: relative;
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 280px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}

.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.avatar-wrapper .profile-pic::after {
    font-family: "FontAwesome";
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 70px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: #34495e;
}

.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 1;
}

.edit-avt-title {
    padding-left: 15px;
}

.sidebar {
    width: 100%;
    min-height: 50rem;
}

.sidebar ul {
    list-style: none;
    margin: 10px 10px;
    font-size: 1.6rem;
}

.sidebar ul li {
    padding: 5px;
    border-bottom: 1px solid black;
}

.sidebar ul li a {
    color: black;
}

.sidebar ul li i {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
}

.edit-profile {
    margin-top: 3rem;
    background-color: #faefef;
}

.edit-avatar {
    margin-top: 10px;
}

.edit-profile-form p {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.edit-profile-form > div {
    margin: 15px 0;
}

.edit-profile-form input {
    padding: 5px;
    font-size: 1.4rem;
}

.edit-address {
    padding-left: 15px;
}

.edit-address input {
    min-width: 500px;
    width: 100%;
}

.edit-sex {
    font-size: 1.4rem;
}

.edit-desc {
    padding-left: 15px;
}

.edit-desc textarea {
    width: 100%;
    resize: none;
    height: 70px;
    padding: 5px;
    font-size: 1.3rem;
}

.edit-profile-form button {
    border: none;
    background-color: bisque;
    padding: 7px 30px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 5px 15px;
}

.btn-upload {
    cursor: pointer;
    padding: 5px;
    font-size: 1.4rem;
    background-color: antiquewhite;
    margin-left: 300px;
}
